
<div class="btn btn-primary" onclick="@Toggle">Householder two-diagonal steps @(toggle ? "-" : "+")</div>
@if (toggle)
{
<div class="card card-body">
    <h1>Resulted</h1>
    <ReadonlyMatrix Value="@transformation.Result.ToArray()"></ReadonlyMatrix>
    <h1>Householders</h1>
    <h2>left</h2>
    <div class="row">
        @foreach (var h in transformation.LeftHouseHolder)
        {
            <ReadonlyMatrix Value="@h.ToArray()"></ReadonlyMatrix>
        }
    </div>

    <h2>right</h2>
    <div class="row">
        @foreach (var h in transformation.RightHouseholder)
        {
            <ReadonlyMatrix Value="@h.ToArray()"></ReadonlyMatrix>
        }
    </div>
</div>
}

@functions {
    [ParameterAttribute]
    private HouseholderTransformation transformation { get; set; }

    bool toggle = false;

    void Toggle()
    {
        toggle = !toggle;
    }
}
